name: CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          architecture: 'x64'
          server-id: 'github'
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}
          overwrite-settings: true

     
      - name: Build project
        run: javac -cp .:junit-platform-console-standalone.jar src/*.java

      - name: Search for JAR file
  run: dir /s /b junit-platform-console-standalone.jar


      - name: Run tests
        run: java -jar junit-platform-console-standalone.jar --class-path . --scan-class-path
